* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 32px;
}


h1 {
  text-align: center;
  margin-bottom: 40px;
  color: white;
  font-size: 3rem;
}

.patients-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.patient-card {
  background: var(--card);
  border-radius: 20px;
  padding: 20px 24px;
  transition: 0.2s;
}

.patient-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.patient-header img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.patient-info {
  flex: 1;
}

.patient-info h3 {
  margin: 0;
  color: white;

}

.patient-info p {
  margin: 4px 0 0;
  color: var(--text-secondary);
}

.patient-header button {
  border: none;
  background: var(--primary);
  color: white;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

.patient-header button:hover {
  background: #7c5cff;
}

.patient-details {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #e5e7eb;
}

.patient-card:hover {
  background: var(--card-hover);
}